/* theme  */
/* main color: white */
/* firet color: pink */
/* second color: black */
/* last color: orange */






/* =======fonts========= */




* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}
