/* theme  */
/* main color: white */
/* firet color: pink */
/* second color: black */
/* last color: orange */

/* <i class="fi fi-brands-facebook"></i> */
/* <i class="fi fi-brands-instagram"></i> */
/* <i class="fi fi-brands-twitter-alt"></i> */
/* < clasis="fi fi-brands-whatsapp"></i> */
/* CE5B9C service text */
/* DED5DA border color for service */
/* 4B3140 text */
/* 4B3140 text border */
/* 575757 massage spa */
/* 414141 main text color for services */
/* footer 383838 */
/* =======fonts========= */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

@font-face {
    font-family: 'segoeui-bold';
    src: url("./fonts/segoeuithibd.ttf");
}

@font-face {
    font-family: 'segoeui-reg';
    src: url("./fonts/segoeuithis.ttf");
}

@font-face {
    font-family: 'segoeui-reg-italic';
    src: url("./fonts/segoeuithisi.ttf");
}

@font-face {
    font-family: 'segoeui-bold-italic';
    src: url("./fonts/segoeuithisz.ttf");
}


* {
    padding: 0;
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    transition: var(--background);
}


:root {
    /* font family */
    --font-1: "Philosopher",
        serif;
    --font-2: 'segoeui-reg', sans-serif;


    /* widths */
    --width-1: 90%;
    --width-2: 80%;
    --width-3: 70%;

    --background: background 200ms ease;
    --color: color 200ms ease;
    --border-color: border-color 200ms ease;
    /* sizes  */
    --smallest: 0.5rem;
    --smaller: 0.7rem;
    --small: 1rem;
    --size-1: 1.1rem;
    --size-2: 1.4rem;
    --size-3: 1.6rem;
    --size-4: 2rem;
    --size-5: 2.4rem;
    --size-6: 3rem;
    --size-7: 4rem;
    --size-8: 5.3rem;
    --size-9: 6.8rem;
    --size-10: 8rem;

    /* z-indexes */
    --zindex-1: -1;
    --zindex-2: 1;
    --zindex-3: 10;
    --zindex-4: 100;
    --zindex-5: 1000;

    /* speed  */
    --speed: 12s;

    /* colors */
    --pink-color: #E80385;
    --pink-border-color: #C41077;
    --buttonOverlay: #D7007A;
    /*40%*/
    --dark-pink: #A3087E;
    --service-text: #CE5B9C;
    --service-background-color: #575757;
    --Service-text-Border-color: #DED5DA;
    --text-color: #4B3140;
    --Text-border: #4B3140;
    --footer-background-color: #383838;

}

button {
    background-color: #2c697d;
    border: none;
    outline: none;
    cursor: pointer;
}


a,
span,
p {
    font-family: var(--font-2);
    font-size: var(--size-1);
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

img {
    max-width: var(--size-4);
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h20 {
    font-size: var(--size-6);
}

.h16 {
    font-size: var(--size-4);
}

.h17 {
    font-size: var(--size-3);
    font-family: var(--font-2);
    text-align: center;
}

/* =======dark mode ============ */
.darkmode,
.darkmode .header-images,
.darkmode .navbar::before,
.darkmode .about-page {
    background-color: #222222;
}

.darkmode .bringforward .h20 {
    color: #e80385;
}

.darkmode .navbar {
    background-color: rgba(34, 34, 34, 0.873);
}

.darkmode .link-click,
.darkmode .nav-btn button {
    background-color: #311d28;
    border-color: #38232f;
}

.darkmode .navbar,
.darkmode .highlight,
.darkmode .review-container {
    border-color: white;
}


.darkmode .review-headder::before {
    background-color: #dadada;
}

.darkmode .card-2-link {
    background-color: #3f3f3f;
}

.darkmode .nav-mode-button {
    background-color: #4d4d4d;
}

.darkmode .star-label,
.darkmode .gallery-section .star-label {
    background-color: white;
}

.darkmode .nav-links a,
.darkmode .about-us_text,
.darkmode .service-card-1 p,
.darkmode .card-2-flex,
.darkmode .gallery-section .h17,
.darkmode .subscription-form button,
.darkmode .service-header h1.h16,
.darkmode .price-list p,
.darkmode .price-list-container h2 {
    color: white;
}

.darkmode .service-header .p16 {
    color: #b9b9b9;
}

.darkmode .services,
.darkmode .review-container,
.darkmode .footer {
    background-color: #313131;
}

.darkmode .nav-logo p {
    color: #813760;
}

.darkmode .label-1 {
    background-color: #4c042d;
}

.darkmode .header-images>div {
    background-image: url("../../../public/img/header-dark.svg");
}

.darkmode .quote-icon {
    background-image: url("../../../public/img/quote-dark.svg");
}

.darkmode .star-label span {
    background-image: url("../../../public/img/star-dark.svg");
}

.darkmode .book-now {
    background-image: url("../../../public/img/booking-dark.svg");
}


.darkmode .review .h16,
.darkmode .review-container p,
.darkmode .review-container span {
    color: #b0b0b0;
}

.darkmode .gallery-section .star-label .h16 {
    color: black;
}

/* ========= top navigation ================ */
.open-nav {
    overflow-y: hidden;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    position: relative;
    height: 100px;
    width: 100%;
}


.navbar {
    background-color: #ffffffec;
    margin: 0 auto;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    width: var(--width-1);
    border: 1px solid var(--Text-border);
    border-radius: 30px;
    z-index: var(--zindex-5);
    padding: var(--smallest) var(--small);
    transition: var(--background), var(--border-color);
}

.navbar.fixed {
    position: fixed;
    top: 30px;
    left: 5%;
    box-shadow: 0 4px 30px var(--shadow-color);
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar::before {
    z-index: var(--zindex-1);
    position: fixed;
    right: 10%;
    top: 6%;
    border-radius: 50%;
    content: "";
    background-color: white;
    width: 0px;
    height: 0px;
    transition: height 300ms ease 100ms, width 300ms ease 100ms, border-radius 1s ease, top 300ms ease 100ms, right 300ms ease 100ms, var(--background);
}

.open-nav .navbar::before {
    width: 2000px;
    height: 2000px;
    border-radius: 0%;
    top: -40%;
    right: -40%;
}

.nav-logo {
    width: 76%;
}

.nav-logo p {
    /* display: none;
     */
    padding: 0;
    margin: 0 0 5px 5px;
    color: var(--buttonOverlay);
    font-size: calc(var(--smaller) + 2px);
    transition: var(--color);
}

.nav-logo a {
    justify-content: start;
    align-items: center;
}

.nav-links {
    top: 30%;
    left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    position: fixed;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease 300ms, visibility 300ms ease;
}

.highlight {
    border: 1px solid var(--text-color);
    border-radius: 30px;
    transition: var(--border-color);
}

.open-nav .nav-links {
    opacity: 1;
    visibility: visible;
}

.nav-links a {
    padding: 5px 20px;
    font-size: var(--size-3);
    color: var(--text-color);
    transition: var(--color);
}

.nav-mode-button {
    background-color: var(--Service-text-Border-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--size-4);
    height: var(--size-4);
    transition: var(--background);
}

.nav-mode-button .ckk .moon {
    background-color: var(--Service-text-Border-color);
    filter: invert(1);
}

.nav-btn {
    position: fixed;
    top: 70%;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease 50ms, visibility 300ms ease 50ms, transform 300ms ease 50ms;
}

.open-nav .nav-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.nav-btn button {
    border-radius: 30px;
    padding: var(--smaller) var(--size-4);
    font-size: var(--size-2);
    color: white;
    background-color: var(--pink-color);
    border: 1px solid var(--pink-border-color);
    transition: var(--background), var(--border-color);
}

#nav-btn {
    height: var(--size-3);
    width: var(--size-3);
    background-color: transparent;
}

#nav-btn>span {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kk-1,
.kk-3 {
    width: 50%;
}

.kk-1,
.kk-2,
.kk-3 {
    background: linear-gradient(to left, var(--dark-pink), var(--pink-color));
    height: 3px;
    z-index: var(--zindex-3);
    border-radius: 8px;
    transition: transform 200ms ease;
}

.kk-2 {
    width: 100%;
}

.open-nav .kk-2 {
    transform: rotate(-45deg);
}

.open-nav .kk-1 {
    transform: rotate(45deg) translate(-12%, 174%);
}

.open-nav .kk-3 {
    transform: rotate(45deg) translate(12%, -174%);
}


/* ======== header section ============== */
.landing-page-header {
    /* margin: 0 auto; */
    text-align: center;
    height: calc(100vh - 90px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-page-header::before {
    top: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dark-pink);
    opacity: 28%;
    transition: var(--background), opacity 700ms ease;
}

.darkmode .landing-page-header::before {
    background-color: #0f0f0fe1;
    opacity: 100%;
}

.bringforward {
    position: relative;
    z-index: var(--zindex-3);
    width: var(--width-1);
}

.landing-page-header .h20 {
    color: white;
    z-index: var(--zindex-3);
    /* margin: 0 auto; */
    font-family: var(--font-1);
    transition: var(--color);
}

.landing-page-header p {
    color: white;
    z-index: var(--zindex-3);
    width: var(--width-1);
    margin: 20px 0;
    line-height: var(--size-4);
    transition: var(--color);
}

.background-header-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: pink;
    width: 100%;
    z-index: var(--zindex-1);
    background-image: url("../../../public/img/facial-massage-1.jpg");
    transition: var(--background);
}

.background-header-img::before {
    position: absolute;
    color: pink;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.animated-label {
    margin: 50px 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.display-none {
    display: none;
}

.label-1 {
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    background-color: var(--pink-color);
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: calc(var(--smallest)) 0;
    animation: label-motion-1 var(--speed) infinite linear;
    transition: var(--color), var(--background);
}

.label-1>span {
    width: 17px;
    height: 17px;
    background-image: url("../../../public/img/star-yellow.svg");
}

.label-outside {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    animation: label-motion-2 var(--speed) infinite linear;
    ;
}

@keyframes label-motion-1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes label-motion-2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}





/* =======about-us section ===== */
.about-us {
    width: var(--width-1);
    margin: var(--size-6) auto;
}

.section-card {
    overflow: hidden;
    position: relative;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-image: url("../../../public/img/blackman-massage.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    transition: var(--background);
}

.section-card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dark-pink);
    opacity: 40%;
    transition: var(--background);
}

.section-card .h16 {
    font-weight: 100;
    position: relative;
    z-index: var(--zindex-3);
    font-family: var(--font-1);
    width: var(--width-3);
    color: white;
    transition: var(--color);
}

.about-us_text {
    margin: var(--size-1) 0;
}

.about-us_text h2,
.about-us_text p {
    font-family: var(--font-2);
    line-height: 30px;
    transition: var(--color);
}

.about-us_text h2 {
    margin-bottom: var(--size-1);
    text-transform: capitalize;
}

.link-click {
    border: 1px solid var(--pink-border-color);
    font-size: var(--small);
    padding: var(--smaller) var(--size-2);
    background-color: var(--pink-color);
    margin-top: var(--small);
    border-radius: 20px;
    color: white;
    transition: var(--background), var(--color), var(--border-color);
}

.link-click:hover,
.nav-btn button:hover {
    background-color: #b32977;
}

.services {
    flex-direction: column;
    position: relative;
    background-color: #cfbb83;
    transition: var(--background);
}

.service-card-1,
.services-card-2 {
    padding: var(--size-3) 0;
    margin-bottom: var(--size-3);
    width: var(--width-1);
}

.star-label {
    margin-bottom: var(--size-3);
    background-color: #ce5b9c5f;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 3px var(--size-3);
    border-radius: 20px;
    border: 1px solid var(--Service-text-Border-color);
    transition: var(--border-color), var(--color), var(--background);
}

.star-label .h16 {
    text-transform: capitalize;
    font-size: var(--smaller);
    font-family: var(--font-2);
}

.star-label span {
    background-image: url("../../../public/img/star-pink.svg");
    width: var(--smallest);
    height: var(--smallest);
}

.service-card-1 .link-click {
    position: absolute;
    bottom: var(--size-3);
    left: 5%;
}

.service-card-1 p {
    transition: var(--color);
    line-height: var(--size-4);
}

.service-header-txt {
    font-size: var(--size-3);
    margin-bottom: var(--size-1);
}

.service-card-2 {
    margin-bottom: var(--size-9);

    width: var(--width-1);
}

.card-2 {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
}

.card-2 li {
    margin-bottom: var(--size-1);
    max-width: 200px;
    flex: 1 1 100px;
}

.card-2-link {
    flex-direction: column;
    padding: var(--size-1);
    background-color: white;
    border-radius: 20px;
    transition: var(--background);
}

.card-2-img {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-image: url("../../../public/img/facial-massage-1.jpg");
    background-color: var(--Service-text-Border-color);
}

.card-2-flex {
    color: var(--text-color);
    margin-top: var(--smaller);
    font-weight: 700;
    transition: var(--color);
}



/* ======= gallery =========== */
.gallery-section {
    margin: var(--size-2) auto;
    flex-direction: column !important;
    width: var(--width-1);
}

.gallery-section .star-label {
    margin-bottom: var(--smallest);
    background-color: transparent;
}

.gallery-section .star-label .h16 {
    color: var(--dark-pink);
    transition: var(--color);
}

.gallery-section .h17 {
    width: 100%;
    font-size: var(--size-2);
    text-transform: capitalize;
    transition: var(--color);
}

.gallery-container {
    width: 100%;
    margin: var(--size-1) 0;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.gallery-container-lists {
    width: 100%;
    flex-direction: row;
    gap: 5%;
}

.gallery-container-lists-2 {
    flex-direction: column;
    align-items: unset;
}

.gallery-container-lists li {
    flex: 1 1 200px;
    margin: var(--size-1) 0;
}

.gallery-photos {
    height: 400px;
    position: relative;
    border-radius: 20px;
    background-color: var(--Service-text-Border-color);
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("../../../public/img/blackman-massage.jpg");
}

.gallery-photos-2 {
    height: 200px;
}

.gallery-photos::before {
    top: 50%;
    left: 50%;
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    background-color: #38383879;
    transition: width 300ms ease, height 300ms ease, top 300ms ease, left 300ms ease;
}

.gallery-photos:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cover-photos span {
    color: white;
    display: block;
    font-size: 25px;
    /* opacity: 0; */
    margin-bottom: var(--smaller);
    width: 35px;
    height: 35px;
    opacity: 0;
    transition: opacity 300ms ease 350ms;
}

.gallery-photos:hover .cover-photos a {
    transform: translateY(0%);
}

.gallery-photos:hover .cover-photos span {
    opacity: 1;
}

.cover-photos {
    position: relative;
    z-index: 4;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.494); */
    width: 50%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover-photos a {
    color: white;
    transform: translateY(300%);
    transition: transform 300ms ease 300ms;
}

#last-ul {
    display: none;
}


/* ===== testimonial-section======== */
.review {
    width: var(--width-1);

    margin: var(--size-2) auto;
}

.review-headder {
    width: 100%;
    position: relative;
}

.review-headder::before {
    width: 50%;
    right: 0;
    bottom: 2px;
    position: absolute;
    background-color: var(--Text-border);
    content: "";
    height: 1px;
    transition: var(--background);
}

.review .h16 {
    font-family: var(--font-2);
    font-weight: 300;
    margin-bottom: var(--smallest);
    transition: var(--color);
}

.review-lists {
    flex-wrap: wrap;
    gap: 3%;
}

.review-container {
    flex: 1 1 270px;
    margin-top: var(--size-1);
    border: 1px solid var(--Text-border);
    padding: var(--small);
    border-radius: 15px;
    transition: var(--background), var(--border-color);
}

.review-container>p {
    margin-bottom: var(--size-3);
    font-size: var(--small);
}

.review-container>p,
.review-container span {
    transition: var(--color);
}

.review-head {
    margin-bottom: var(--size-1);
    flex-direction: row;
    flex-wrap: nowrap;
}

.review-top {
    width: var(--width-3);
    justify-content: unset;
}

.review-image {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: var(--small);
    background-image: url("../../../public/img/black\ lady.webp");
}

.review--1>span {
    display: block;
}

.review--1>span:last-child {
    font-size: var(--smaller);
}

.quote-icon {
    display: block;
    background-image: url("../../../public/img/quote-light.svg");
    width: 30px;
    height: 30px;
}




.book-now {
    border-radius: 30px;
    width: var(--width-2);
    padding: var(--size-3) var(--size-2);
    margin: var(--size-8) auto;
    background-image: url("../../../public/img/book-light.svg");
    text-align: center;
}

.book-now .h17 {
    color: white;
    margin-bottom: var(--size-1);
}

.book-now p {
    width: 85%;
    margin: 0 auto;
    color: white;
}

.book-now .link-click {
    border-radius: 40px;
    font-size: var(--size-1);
    margin-top: var(--size-2);
    background-color: white;
    color: black;
    border: none;
    padding: var(--smaller) var(--size-4);
}

.book-now .link-click:hover {
    background-color: #f5f5f5;
}


/* ====== footer ======= */
.footer {
    padding: var(--size-5) 0 var(--size-1) 0;
    background-color: var(--footer-background-color);
    width: 100%;
    transition: var(--background);
}

.footer h3 {
    text-transform: uppercase;
    font-family: var(--font-2);
    font-size: var(--smaller);
    font-weight: normal;
    margin: 0 0 var(--size-2) 0;
    color: var(--Service-text-Border-color);
    opacity: 0.7;
}

.footer a,
.footer .pp {
    font-size: var(--small);
    padding: 5px 0;
    color: var(--Service-text-Border-color);
}

.footer .pp {
    font-size: var(--smaller);
    opacity: 0.7;
}

.footer-k {
    margin: 0 auto var(--size-3) auto;
    width: var(--width-1);
    /* margin: 0 auto; */
}

.footer-a {
    flex-wrap: wrap;
    align-items: start;
    gap: 5%;
}

.footer-links-list {
    flex: 1 1 170px;
    margin: var(--size-3) 0;
}

.footer-logo {
    width: var(--size-7);
    height: var(--size-7);
    display: block;
}

.footer-logo img {
    max-width: 100%;
    display: block;
}

.footer-container-2 {
    margin: 0 auto var(--smallest) auto;
}

.subscribe {
    text-transform: uppercase;
    font-family: var(--font-2);
    font-weight: normal;
    color: var(--pink-color);
    font-size: smaller;
    margin: 0 0 var(--size-1) 0;
}

.subscription-form {
    width: 100%;
    position: relative;
}

.subscription-form label {
    opacity: 0;
    width: 0;
    display: block;
    height: 0;
}

.subscription-form input {
    outline: none;
    border: 1px solid var(--Service-text-Border-color);
    padding: var(--small);
    width: 100%;
    background-color: #383838;
    border-radius: 16px;
    color: var(--Service-text-Border-color);
    transition: var(--border-color);
}

.subscription-form input:hover {
    border-color: white;
}

.subscription-form input:focus {
    border-color: var(--pink-border-color);
}

.subscription-form input::placeholder {
    opacity: 0.6;
    color: var(--Service-text-Border-color);
}

.subscription-form button {
    top: 0%;
    right: 0;
    position: absolute;
    height: 100%;
    width: 10%;
    min-width: 40px;
    max-width: 80px;
    display: block;
    background-color: transparent;
    color: var(--pink-color);
}

.subscription-form button::before {
    position: absolute;
    content: "";
    background-color: var(--Service-text-Border-color);
    width: 1px;
    height: 60%;
    top: 20%;
    left: 0;
}

.footer-container-3 {
    margin: 0 auto var(--smallest) auto;
}

.footer-social-links {
    flex-direction: row;
    justify-content: start;
    /* padding: var(--smallest); */
}

.footer-social-links li {
    margin: 0 0 var(--size-1);
}

.footer-social-links span {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: var(--size-2);
    border: 1px solid var(--Service-text-Border-color);
    justify-content: center;
    align-items: center;
}

.footer-social-links span i {
    line-height: 0;
    vertical-align: center;
    color: #DED5DA;
    font-size: var(--small);
}

.footer-credits {
    display: block;
    font-size: var(--smaller);
    color: var(--Service-text-Border-color);
    opacity: 0.8;
}







@media screen and (min-width: 768px) {
    .darkmode .bringforward p {
        color: #dadada;
    }

    #nav-btn {
        display: none;
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .nav-links {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 42%;
        height: auto;
        position: static;
        opacity: 1;
        visibility: visible;
    }

    .nav-logo {
        width: auto;
    }

    .nav-links a {
        margin: 0 var(--small);
        font-size: var(--small);
        padding: 5px;
    }

    .nav-btn {
        position: static;
        width: auto;
        justify-content: center;
        align-items: center;
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    .nav-btn button {
        font-size: var(--small);
    }



    /* =======headder======= */
    .background-header-img {
        display: none;
        background-image: unset;
    }

    .bringforward {
        margin-top: -160px;
        width: 70%
    }

    .bringforward .h20 {
        color: var(--pink-color);
    }

    .bringforward p {
        color: var(--text-color);
    }

    .header-images {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: var(--zindex-2);
        justify-content: center;
        align-items: center;
        transition: var(--background);
    }

    .header-images>div {
        background-image: url("../../../public/img/header-light.svg");
        position: relative;
        width: var(--width-2);
        height: 65%;
        background-color: #ce5b9c9f;
        border-radius: 40px;
    }

    .header-main-images {
        position: absolute;
        width: 112%;
        left: -6%;
        bottom: -22%;
        gap: 3%;
    }

    .header-main-images span {
        overflow: hidden;
        flex: 1 1 300px;
        border-radius: 20px;
        background-color: #ce5b9cc7;
        background-image: url("../../../public/img/facial-massage-1.jpg");
    }

    .header_1 {
        height: 200px;
    }

    .header_2 {
        height: 170px;
    }

    .header_3 {
        height: 160px;
        margin-bottom: -40px;
    }


    .display-none {
        display: inline-block;
    }


    /* ======== about us ======== */

    .about-us {
        display: flex;
        flex-direction: row;
        gap: 2%;
        justify-content: space-between;
        align-items: stretch;
    }

    .about-us_text {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



    .about-us_text .link-click {
        width: 130px;
    }

    .about-us>div {
        width: 48%;
    }

    .section-card {
        height: 330px;
        border-radius: 20px;
    }


    /* ======= services ======= */
    .services {
        flex-direction: row;
        padding: var(--size-5) 5%;
        align-items: stretch;
        gap: 4%;
        transition: var(--background);
    }

    .service-card-1 .link-click {
        position: static;
    }

    .service-card-1,
    .service-card-2 {
        width: 47%;
        flex: 1 1 400px;
        padding: unset;
        margin: unset;
    }


    .card-2 {
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .card-2 li {
        height: 50%;
        width: 48%;
        margin: 0;
    }

    .card-2-link {
        height: 100%;
    }

    .card-2-img {
        border-radius: 8px;
        height: 70%;
        width: 100%;
    }

    .card-2-flex {
        width: 100%;
        text-align: left;
    }


    .card-2 li:nth-child(3) {
        height: 100%;
        position: absolute;
        right: 0;
    }

    .card-2 li:nth-child(3) .card-2-flex {
        font-size: var(--size-3);
    }




    /* ========  gallery ==== */
    .gallery-container {
        justify-content: space-evenly;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
    }

    .gallery-container-lists {
        width: 48%;
    }

    .gallery-photos-2 {
        height: 100%;
    }

    .gallery-container-lists li {
        margin: 0;
    }

    #last-ul {
        margin-top: var(--small);
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2.5%;
    }

    #last-ul li {
        width: calc(94%/3);
        height: 230px;
    }

    .review-headder::before {
        width: 65%;
    }

    /* ====== book-now ======= */
    .book-now {
        padding: var(--size-6) var(--size-7);
    }







    .service-header {
        flex-direction: row;
        gap: 2%;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: var(--size-6) auto !important;
    }

    .service-header>div {
        width: auto;
        flex: 1 1 300px;
        margin: 0;
        height: auto;
    }

    .service-header h1.h16 {
        font-size: var(--size-5) !important;
    }
        .price-list-container h2{
            font-size: var(--size-3) !important;
        }
                .price-list p,
                .price-list span,
                .price-list h3,
                .price-list button{
                    font-size: var(--small) !important;
                }
}




@media screen and (min-width: 1000px) {


    .nav-links {
        width: 55%;
    }

    .nav-links a {
        padding: var(--smallest);
    }

    .bringforward {
        margin-top: -20%;
    }

    .bringforward .h20 {
        font-size: var(--size-7);
    }

    .animated-label {
        margin: 80px 0;
    }

    .about-us {
        margin-bottom: var(--size-8);
    }

    .section-card {
        height: 390px;
    }

    .card-2 li {
        max-width: 300px;
    }

    .star-label {
        margin-bottom: var(--size-5);
    }

    .service-header-txt {
        margin-bottom: var(--size-3);

    }

    .service-card-1 .link-click {
        margin-top: var(--size-3);
    }

    .landing-page-header {
        height: calc(140vh - 90px);
    }

    .gallery-section {
        margin: var(--size-7) auto;
    }

    /* .gallery-section .h17 {

        width: 40%;
    } */

    .gallery-container {
        margin: var(--size-3) 0;
    }

    .header-main-images {
        bottom: -20%;
    }

    .header-images>div {
        height: 90%;
        margin-bottom: -20%;
    }

    .header_1 {
        height: 270px;
    }

    .header_2 {
        height: 210px;
    }

    .header_3 {
        height: 200px;
    }

    .review-headder::before {
        width: 70%;
    }

    .subscription-form button {
        width: 6%;
    }

    .book-now {
        width: var(--width-3);
    }

    .service-header h1.h16 {
        font-size: var(--size-6) !important;
    }
}





@media screen and (min-width: 1200px) {
    :root {
        --size-1: 1.3rem;
    }

    .book-now {
        margin: var(--size-9) auto;
    }

    .book-now .h17 {
        font-size: var(--size-5);

    }

    .book-now p {
        width: 70%;
        display: block;
    }

    .nav-links {
        width: 64%;
    }

    .nav-links a {
        margin: 0 var(--size-4);
    }

    .bringforward {
        width: 64%;
        margin-top: -12%;
    }

    .bringforward .h20 {
        font-size: calc(var(--size-8) - 15px);
    }

    .services {
        padding: var(--size-7) 5%;
        gap: 8%;
    }

    .service-card-1,
    .service-card-2 {
        width: 42%;
    }

    /* .gallery-section .h17 {
        width: 30%;
    } */

    .star-label {
        margin-bottom: var(--size-7);
    }

    .service-header-txt {
        margin-bottom: var(--size-4);

    }

    .service-card-1 .link-click {
        margin-top: var(--size-4);
    }

    .review-lists {
        justify-content: flex-start;
        gap: 2%;
    }

    .review-headder::before {
        width: 75%;
    }

    .review-container {
        flex: unset;
        width: calc(96% / 3);
    }

    .book-now {
        width: 60%;
        padding: var(--size-7);
    }

    .service-header h1.h16 {
        font-size: var(--size-7);
    }
        .service-header h1.h16 {
            font-size: calc(var(--size-7) - 10px) !important;
        }
                .price-list>div {
                    flex: 1 1 350px !important;
                }
}


/* @media screen and (max-width: 776px) {
    .navbar {
        margin: 20px auto;
    }
} */





























/* our services  */
.service-header {
    width: var(--width-1);
    margin: var(--size-5) auto;
    flex-wrap: wrap;
}

.service-header p.h16 {
    font-weight: 700;
    color: var(--text-color);

}

.service-header .star-label {
    padding: 3px 10px;
    width: 170px;
}

.service-header .p16 {
    line-height: var(--size-4);
    margin-bottom: var(--size-4);
    transition: var(--color);
}

.service-header h1.h16 {
    font-size: var(--size-4);
    font-family: var(--font-2);
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: var(--size-1);
    transition: var(--color);
}

.service-header h1.h16 span {
    font-size: inherit;
    text-transform: inherit;
    color: var(--pink-color);
}

.service-header-images {
    width: 100%;
    gap: 2%;
    flex-direction: column;
    position: relative;
    align-items: end;
    height: 350px;
    overflow: hidden;
    border-bottom-right-radius: 35%;
}

.service-header-images span {
    border-radius: 35px;
    width: 49%;
    background-color: var(--pink-color);
    height: 50%;
    background-image: url("../../../public/img/blackman-massage.jpg");
}

.service-header-images .first-image {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.service-header-images .last-image {
    border-bottom-right-radius: 50%;
}


.price-list {
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
}

.price-list>div {
    flex: 1 1 250px;
}

.price-list-container {
    border: 1px solid orange;
    padding: var(--smaller);
    border-radius: 16px;
    margin-bottom: var(--size-3);
    /* width: 100%; */
    transition: var(--background), b;
}

.darkmode .price-list-container {
    background-color: #333333;
    border-color: #474747;
}

.price-list-container h2 {
    font-family: var(--font-1);
    font-weight: 100;
    font-size: var(--size-1);
    margin-bottom: var(--smallest);
    transition: var(--color);
}

.price-list div>p {
    opacity: 0.7;
    font-size: 0.7rem;
}

.price-list p,
.price-list span,
.price-list h3,
.price-list button {
    font-size: 0.8rem;
    font-family: var(--font-2);
}

.price-list p {
    transition: var(--color);
}

.price-list-image {
    background-image: url("../../../public/img/facial-massage-1.jpg");
    height: 150px;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: var(--pink-color);
    margin-bottom: var(--size-1);
}

.price-benifit {
    display: inline-block;
    width: auto;
    background-color: #fccd34;
    padding: 3px var(--smaller);
    border-radius: 8px;
    margin: var(--smaller) 0;
    color: #9c7906;
    border: 1px solid #9c7906;
}

.benifit-list {
    justify-content: start;
    margin-bottom: 3px;
}

.benifit-list span {
    width: 10px;
    height: 10px;
    background-image: url("../../../public/img/star-yellow.svg");
    margin: 0 7px;
}

.price-number-container {
    margin: var(--smallest) 0;
    justify-content: flex-end;
    width: 100%;
}

.price-number-container span span {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url("../../../public/img/cash-icon.svg");
}

.price-number {
    border-radius: 5px;
    background-color: #37a014;
    padding: 2px 6px;
    color: white;
    border: 1px solid green;
}

.price-list-container .link-click {
    border-radius: 11px;
    width: 100%;
}








/* ===== about page  */
.about-page {
    background-color: rgb(255, 215, 236);
    padding: 1px 0;
    transition: var(--background);
}

.about-page-header {
    width: 90%;
    margin: var(--size-5) auto;
}

.about-page-header .star-label, .about-page-section-1 .star-label {
    width: fit-content;
    margin: 0px auto;
    justify-content: center;
    margin-bottom: var(--size-4);
    background-color: transparent;
    border-color: orange;
    color: orange;
}

.about-page-header .hi6, .about-page-section-1 .h16 {
    margin: 5px;
}

.about-page-header .h20 {
    margin-bottom: var(--size-6);
    font-family: var(--font-2);
    font-size: var(--size-6);
    text-align: center;
}

.about-page-header .star-label2 {
    background-color: var(--pink-color);
    color: white;
    border: none;
    padding: var(--smaller) var(--size-2);
}



.about-page-section-1 {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 90%;
    gap: 5%;
    margin: 0 auto;
    align-items: stretch;
}

.about-page-section-1 h2 {
    margin-bottom: var(--size-1);
    font-family: var(--font-2);
    font-size: var(--size-6);
}
.about-page-section-1 p{
    line-height: var(--size-5);
}
.about-page-section-1>div {
    flex: 1 1 400px;
}

.blur-background-container {
    height: 500px;
    margin-bottom: var(--size-1);
}

.blur-background-container span {
    background-image: url("../../../public/img/blackman-massage.jpg");
    border-radius: 30px;
}

.blur-a {
    display: block;
    width: 100%;
    height: 100%;
}

.blur-b {
    display: none;
}
.about-page-section-1 .star-label{
    margin: var(--size-4) 0;
}
.about-page-section-1 .star-label p{
    line-height: initial;
}